@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url(imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
    height: 100vh;

    position: relative;
}

#phone{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
    
}

.images{
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    
}

#conteudo{
    text-align: right;
    
}
